<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Not Logged In</title>
</head>
<body>
    <h1>User not logged in.</h1>
    <main>
        <footer><a href="/">Return to home page.</a></footer>
    </main>
</body>